<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titre %} {% endblock %}</title>
</head>
<body>
    <ul style="list-style-type: none;">
        
        <li style="display: inline-block; padding: 10px 20px;"><a href="{% url 'home' %}">accueil</a></li>
        <li style="display: inline-block; padding: 10px 20px;"><a href="{% url 'article' %}"">blog</a></li>
        <li style="display: inline-block; padding: 10px 20px;"><a href="{% url 'contact' %}"">contact</a></li>
    </ul>
    {% block contenu %} {% endblock %}
</body>
</html>